<%
function formattedDate(seconds) {
  const currentDate = new Date(1000 * seconds)

  const year = currentDate.getFullYear()
  const month =
    currentDate.getMonth() + 1 < 10
      ? `0${currentDate.getMonth() + 1}`
      : currentDate.getMonth() + 1
  const date =
    currentDate.getDate() + 1 < 10
      ? `0${currentDate.getDate() + 1}`
      : currentDate.getDate() + 1

  const hours =
    currentDate.getHours() < 10
      ? `0${currentDate.getHours()}`
      : currentDate.getHours()
  const minutes =
    currentDate.getMinutes() < 10
      ? `0${currentDate.getMinutes()}`
      : currentDate.getMinutes()
  const fmtSeconds =
    currentDate.getSeconds() < 10
      ? `0${currentDate.getSeconds()}`
      : currentDate.getSeconds()

  return `${year}-${month}-${date} ${hours}:${minutes}:${fmtSeconds}`
}
%>
<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body class="bg-yellow-50 min-h-screen py-8 px-4">
  <main class="w-[min(100%,_48rem)] mx-auto px-12 text-red-500 font-[Nunito]">
    <%-
      include('../partials/navheader',
        {
          title: "Item Details",
          subtitle: "Here, you may see more details about the item, and the item stock history.",
          destination: "/inventory"
        })
    %>

    <div class="flex justify-between items-center">
      <h3 class="text-2xl font-bold mb-3">
        <%= item.name %>
      </h3>
      <a href="<%= `/inventory/${item.id}/edit` %>" class="text-blue-600 hover:underline underline-offset-4">
        Edit details
      </a>
    </div>
    <div class="grid grid-cols-[1fr_18rem] gap-4">
      <!-- left column -->
      <div>
        <img src="<%= item.image[0] %> " alt="Item image" class="w-full border-2 border-gray-300 mb-3" />
        <div class="mb-3">
          <h3 class="font-bold">Description</h3>
          <p>
            <%= item.description %>
          </p>
        </div>
      </div>
      <!-- right column -->
      <div>
        <div class="mb-3">
          <h3 class="text-2xl font-bold">Price: ₱
            <%= item.price %>
          </h3>
        </div>
        <div>
          <div class="flex items-center justify-between">
            <h3 class="text-xl font-bold mb-1">Stock history</h3>
            <a href="<%= `/inventory/${item.id}/record` %> " class="text-blue-600 hover:underline underline-offset-4">
              Add Records
            </a>
          </div>
          <div class="grid grid-cols-[1fr_6rem] bg-gray-200 font-semibold text-gray-700">
            <div class="px-3 py-1">Date</div>
            <div class="px-3 py-1">Amount</div>
          </div>
          <ul>
            <% stockHistory.forEach(stockEntry => { %>
            <li class="grid grid-cols-[1fr_6rem] border-x-2 border-b-2 border-gray-200">
              <div class="px-3 py-1 text-gray-700">
                <%= formattedDate(stockEntry.createdAt.seconds) %>
              </div>
              <div class="border-l-2 border-gray-200 px-3 py-1">
                <% if (stockEntry.operation === "add") { %>
                <span v-if="stockEntry.operation === 'add'" class="text-green-600">
                  +
                  <%= stockEntry.amount %>
                </span>
                <% } else if (stockEntry.operation === "remove") { %>
                <span class="text-red-600">
                  -
                  <%= stockEntry.amount %>
                </span>
                <% } %>
              </div>
            </li>
            <% }) %>
          </ul>
        </div>
      </div>
    </div>
  </main>
</body>

</html>